@font-face{
    font-family: '18 Century';
    src: url('./18thCentury.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: '18 Century';
    src: url('./18thCentury.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}